/**********************************
 ***** Main Parts of the Page *****
 **********************************/

body {
	background: url(../images/stripe.png);
	margin: 10px auto 0px auto;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 10pt;
}

a, a:active, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #1e1e1e;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: 0px;
}

/************************
 ***** Input Styles *****
 ************************/

input {
	background: url(../images/textbox.png) repeat-x;
	border: 1px solid green;
}

textarea {
	background: url(../images/textarea.png) repeat-x;
	border: 1px solid green;
	width: 100%;
	height: 200px;
}

/*************************
 ***** The Main Divs *****
 *************************/

div.outside {
	background: url(../images/wrapper_bg.png) repeat-y;
	margin: 0px auto;
	width: 1024px;
}

div.borders {
	margin: 0px auto;
	width: 1024px;
}

div.wrapper {
	margin: 0px auto;
	border: 3px solid #382b00;
	width: 994px;
}

/********************************
 ***** The Outside Gradient *****
 ********************************/

	div.topleft {
		background: url(../images/topleft.png) repeat-x;
		float: left;
		margin-top: -1px;
		width: 15px;
		height: 15px;
	}
	
	div.topspan {
		background: url(../images/topspan.png) repeat-x;
		margin: auto;
		margin-bottom: -1px;
		width: 994px;
		height: 15px;
	}
	
	div.topright {
		background: url(../images/topright.png) repeat-x;
		float: right;
		margin-top: -15px;
		height: 15px;
		width: 15px;
	}

	div.bottomleft {
		background: url(../images/bottomleft.png) repeat-x;
		float: left;
		width: 15px;
		height: 15px;
	}

	div.bottomspan {
		background: url(../images/bottomspan.png) repeat-x;
		margin: auto;
		width: 994px;
		height: 15px;
	}

	div.bottomright {
		background: url(../images/bottomright.png) repeat-x;
		float: right;
		margin-top: -15px;
		height: 15px;
		width: 15px;
	}

div.wrapper div.header {
	background: #6E5504 url(../images/header_bg.jpg) no-repeat;
	height: 100px;
	border-bottom: 2px solid #6e5504;
    position: relative;
}
	div.wrapper div.header div.logo {
		position: absolute;
		float: left;
		top: 10px;
		left: 10px;
	}
	
	div.wrapper div.header div.tabs {
		float: right;
		margin-right: 5px;
		margin-top: 80px;
		height: 22px;
	}
	
		div.wrapper div.tabs a:hover img {
			margin-bottom: -2px;
		}

div.wrapper div.content {
	background: #F5F5DC url(../images/body_corner.png) no-repeat bottom right;
	padding: 40px 20px;
}

	div.wrapper div.content div.portfoliopage {
		border: 2px solid #6e5504;
		width: 750px;
		margin: 0px 30px 10px auto;
		padding: 20px;
		min-height: 150px;
        -moz-border-radius: 5px;
        border-radius: 5px;
	}
	
	div.wrapper div.content div.portfoliopage a.title, div.wrapper div.content div.portfoliopage span.title {
		font-size: 13pt;
		text-align: center;
		font-weight: bold;
		color: #382b00;
	}
	
	div.wrapper div.content div.portfoliopicture {
		border: 2px solid #6e5504;
		float: left;
		margin-top: 10px;
		margin-left: -125px;
		margin-right: 20px;
        -moz-border-radius: 3px;
        border-radius: 3px;
	}
	
div.wrapper div.footer {
	background: #6DBA07 url(../images/footer_bg.png) repeat-x;
	border-top: 2px solid #6e5504;
	height: 14px;
	font-size: 8pt;
	text-align: center;
	color: #382b00;
}
