	div.topspan {
		margin-left: -4px;
	}
	
	div.bottomspan {
		margin-left: -4px;
	}
	
	/* Reform the Website Listings */
	div.wrapper div.content div.portfoliopage {
		border: 2px solid #6e5504;
		width: 910px;
		margin: 0px 0px auto;
		padding: 20px;
		min-height: 150px;
	}
	
	div.wrapper div.content div.portfoliopicture {
		border: 2px solid #6e5504;
		float: left;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 20px;
	}
