---
layout: nil

border_color: "#c9c9c9"
page_width: 500px
---

#header {
	background: url(/img/header/bg.png) repeat-x;
	border-bottom: 1px solid {{ page.border_color }};
	height: 60px;
	position: relative;
	z-index: 1;
}

#header .drawing {
	cursor: crosshair;
	display: block;
	width: 100%;
}

#content {
	background: #ffffff;
	border: 1px solid  {{ page.border_color }};
	border-radius: 10px;
	margin: -40px auto 0;
	padding: 15px;
	position: relative;
	width: {{ page.page_width }};
	z-index: 2;
}

	#content .header {
		border-bottom: 1px solid {{ page.border_color }};
		height: 35px;
		line-height: 31px;
		margin-top: -16px; /** 15px for padding + 1 for border */
		margin-bottom: 15px;
		padding-top: 5px;
	}
	
		#content .header li {
			border-right: 1px solid #f0f0f0;
			float: left;
			list-style: none;
			margin: 0;
			padding: 0 .5em;
		}
		
		#content .header li:last-child {
			border-right: 0;
		}
		
		#content .header li:hover {
			background: #fbfbfb;
		}
	
		#content .header a {
			color: #000000;
			display: block;
			font-variant: small-caps;
			padding: 0 5px;
			text-decoration: none;
		}
	
		#content .header a:hover {
			color: #2f472a;
			text-decoration: underline;
		}

#footer {
	color: {{ page.border_color }};
	font-size: .7em;
	margin: 10px auto 0;
	padding-bottom: 10px;
	width: {{ page.page_width }};
}
