---
layout: nil

border_color: "#c9c9c9"
page_width: 500px

link_color: "#000000"
link_color_hover: "#2f472a"
---

html {
	height: 100%;
}

body {
	background: #f7f7f7;
	min-height: 100%;
	font-family: arial, sans-serif;
}

h1 {
	font-size: 2em;
	margin: 10px 0;
	text-transform: lowercase;
}

h2 {
	font-size: 1.5em;
	margin: 5px 0;
	text-transform: lowercase;
}

p {
	margin: 10px 0;
}

#header {
	background: url(/img/header/bg.png) repeat-x;
	border-bottom: 1px solid {{ page.border_color }};
	height: 60px;
	position: relative;
	z-index: 1;
}

#header .drawing {
	cursor: crosshair;
	display: block;
	width: 100%;
}

#content {
	background: #ffffff;
	border: 1px solid  {{ page.border_color }};
	border-radius: 10px;
	margin: -40px auto 0;
	padding: 15px;
	position: relative;
	width: {{ page.page_width }};
	z-index: 2;
}

	#content .header {
		border-bottom: 1px solid {{ page.border_color }};
		height: 35px;
		line-height: 35px;
		margin-top: -16px; /** 15px for padding + 1 for border */
		margin-bottom: 15px;
		padding-top: 5px;
	}
	
		#content .header li {
			float: left;
		}
	
		#content .header a {
			color: {{ page.link_color }};
			display: block;
			font-variant: small-caps;
			padding: 0 5px;
			text-decoration: none;
		}
	
		#content .header a:hover {
			color: {{ page.link_color_hover }};
			text-decoration: underline;
		}

#footer {
	color: {{ page.border_color }};
	font-size: .7em;
	margin: 10px auto 0;
	padding-bottom: 10px;
	width: {{ page.page_width }};
}
