ol li {
	list-style: decimal outside none;
	margin-left: 2.3em;
}


ul li {
	list-style: disc outside none;
	margin-left: 2.3em;
}

ul.posts li {
	list-style: none;
}

.posts li {
	margin: 5px;
}

.posts .summary {
	margin-left: 10px;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
}

.posts .summary .fade {
	background: url(/img/fade.png) repeat-y;
	right: 0;
	height: 100%;
	position: absolute;
	width: 15px;
}
