ol li {
	list-style: decimal inside none;
	margin-left: .5em;
}


ul li {
	list-style: disc inside none;
	margin-left: .5em;
}

ul.posts li {
	list-style: none;
}

.posts li {
	margin: 5px;
}

.date {
	font-size: .7em;
}
