---
title: "And...scene!"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

Well, I was more or less told that I couldn't be in class today...well, sorta. You see, I'm getting sick, and since everyone is afraid of le swine flu, if we are feeling sick, we are not to be around others / in class. So I ended up going home today. Fun.

But anyway, I figure this is noteworthy: my laundry just finished drying today.....yes!!

And, finally, here is a picture of our street at night (gotta love tripods!):{{ macros.img("img_2471.jpg") }}

{% endblock %}
