---
title: "Scotland! (Day 3)"
---

{% extends "post.html" %}

{% block post %}

<!--more-->

<p>So, our last day in Scotland rolled around, and today was our tour of the Highlands! The day, although consisting of seeing some very impressive and beautiful sights, was mainly composed of sitting on a bus and having stuff told to us as we drove by it. Good times.

Anyway, the tour started off pretty slow...and I mean slow. Here, take a look:{{ pimg("img_4387.jpg") }}I do have to say, however, that I am now starting to understand that the differences between English and Germany are not merely because they are different languages: a lot of the strange things in German I saw repeated in the local Scottish Dialect of English. It was rather fascinating, if I do say so myself.

The above sign, for example, was far more common than "Exit." Indeed, "Way Out" is apparently how you indicate an exit in a building. And offices are "To Let," not "for lease." And you get food "for take away," not "to go." Same(ish) in German.

But let's get to the tour... The first mountain range we went through, we stopped at some mountains that...had something to do with history. I just wanted to climb them.{{ pimg("img_4441.jpg") }}Then we went on to this little place...I don't remember where...but it was a big lake (I think it was before we got to Loch Ness).{{ pimg("img_4461.jpg") }}And then we ran into another cool scene...{{ pimg("img_4508.jpg") }}And somewhere in there, we stopped at a WWII memorial...{{ pimg("img_4546.jpg") }}But after all that, we finally got to Loch Ness! At the start of our journey there, we stopped at a little castle (a destroyed one, too): Urquhart Castle.{{ pimg("img_4629.jpg") }}Isn't it gorgeous? In my opinion, Nessy destroyed it because we wouldn't stop looking for her. Oh well.

Oh! And did I mention how we found Nessy?! Yeah, turns out she's saying "hi" to all the tourists these days...{{ pimg("img_4692.jpg") }}Adorable, isn't she? A bit smaller than I expected, though.

And then, we went further, and we finally got to Inverness (yeah, try saying that one: We were in Inverness).{{ pimg("img_4730.jpg") }}To say the least, this tour was rushed, and I don't really feel that it was a good use of our time, but hey, at least now I can say that I've literally been around the <em>entire</em> country of Scotland. In one day. Ouch.

And finally, on this tour, they played this song <em>a lot.</em> It is such an awesome song that I just had to share:
</p><div style="text-align: center;"><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="320" height="265" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="src" value="http://www.youtube.com/v/vBKBI7DOLHA&amp;hl=en_US&amp;fs=1&amp;rel=0"/><param name="allowfullscreen" value="true"/><embed type="application/x-shockwave-flash" width="320" height="265" src="http://www.youtube.com/v/vBKBI7DOLHA&amp;hl=en_US&amp;fs=1&amp;rel=0" allowscriptaccess="always" allowfullscreen="true"/></object>
Scotland the Brave.</div>

{% endblock %}
