---
title: Gallery
---

{% extends "base.j2" %}

{% block content %}
	<section id="gallery">
		{% for img in imgs.all() %}
			<div class="image col-xs-6 col-sm-3 col-md-2 col-lg-2">
				{{ macros.img(img,
					dims={
						macros.vl: 150,
						macros.vm: 140,
						macros.vs: 130,
						macros.vxs: 115,
					},
					crop=True,
					quality=80) }}
			</div>
		{% endfor %}
	</section>
{% endblock %}
