---
title: "What we did in class..."
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

So we kinda just walked around, but I wanted to post this picture, because it's beautiful.{{ macros.pimg("img_3276.jpg") }}Yeah, that's what we do in my Architecture Class.

{% endblock %}
