---
title: "Laundry Day"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

So, it was laundry day today, and instead of paying for my laundry...I did it by hand... Now, let me explain why: Normally, I would do 2 loads of laundry, that comes out to 2 wash cycles and 2 dry cycles. Normally, that costs me $4; here, however, laundry costs 3€ a load, so that would come out to 12€, which is $17.60. In other words, doing laundry here is not an option, and even if I did, the washing machines are quite a bit smaller than in the US, so I would end up doing more and paying even more money.{{ macros.pimg("img_2436.jpg") }}And that's all of my clothes soaking away in their own filth. When I went to drain the water, I couldn't see through it...yum!{{ macros.pimg("img_2438.jpg") }}And that's half of my stuff hanging...{{ macros.pimg("img_2441.jpg") }}And that's the other half...

And now, my roommate is rushing me off to a Beer Garden, so I must be off!

{% endblock %}
