---
title: "Nature"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

Hey, lookie here! That there is what we call...a flower! Yeah, saw this in Potsdam, and I just felt like posting it.{{ macros.pimg("img_2149.jpg") }}And on another note, as we were in Potsdam and the sun was going down, I got quite a few pictures of it. I didn't post this one earlier, but I'm posting it now.{{ macros.pimg("img_2181.jpg") }}Pretty, eh?

Yeah, I didn't have much to say...just wanted to post some pictures.

{% endblock %}
