---
title: More Swimming
---

{% extends "post.html" %}

{% block post %}

So apparently I don't get bored of taking pictures by the pool. Maybe it's because she's so cute.

<!-- >8 more -->

Let's dive right in.

{{ pimg("dive.gif") }}

And shake if off.

{{ pimg("shake.gif") }}

Because I stay up too late, only got food on my brain, at least that's what people say. I jump in too many pools.

{{ pimg("back_in.gif") }}

But all the swimming can be exhausting. And sometimes I just need a good walk.

{{ pimg("IMG_0660.jpg") }}

Kidding. Move! Out of my way!

{{ pimg("IMG_0691.jpg") }}

K. Bye now.

{{ pimg("IMG_0727.jpg") }}

(I guess that's progress. This post was only partly from Lily's perspective.)

{% endblock %}
