---
title: "Schloss Glienicke"
---

{% extends "post.html" %}

{% block post %}

<!-- >8 more -->

So, for my last architecture assignment, we had to take a really long walk down to the middle of no where and beyond! Seriously, we left at 2:30 for there and we got back at 8:30. It was painful.{{ pimg("img_3460.jpg") }}See where they are pointing? That is how far we had to walk. We seriously could have just taken the bus that entire distance, gone 200 feet, seen the palace, and returned. But no. We walked for hours, wondering what was what, and all the while wondering if we were ever going to find it.

It was insane.

But, if we look beyond the actual assignment, we actually have a bit of fun before / after we were there. Before we got there, we had 1 hour to wait for one of our buses, and there was a park nearby...here's what happened:{{ pimg("img_3379.jpg") }}Both of them were far too happy, simultaneously! It's like a pokémon attack...but wait! There's more!{{ pimg("img_3392.jpg") }}Order in the next 15 minutes, and we'll also include Hope's "Sneak Attack" at no extra charge! That's right, you heard me right, I have no idea what I'm talking about! Seriously, I've lost everything this week, and it doesn't look like it's going to get any better.

On another note, as we were walking around, I did get some pictures. Let me just sum up the entire experience for you in two pictures...give me a sec:{{ pimg("img_3416.jpg") }}And...{{ pimg("img_3435.jpg") }}And that was the entire coolness of that "palace." But anyway...

That assignment was just kinda weird and all stretched out and awkward.

{% endblock %}
