---
title: "A night out, and a world destroyed"
---

{% extends "post.html" %}

{% block post %}

<!--more-->

So we went out tonight, Sarah and I. It started with dinner at this little Pizza, Pasta, and Wok place down in Kreuzberg, and it ended with a taxi ride home.

The movie was altogether not too great -- I mean, you can't write a tragedy by killing all the people who should be kept alive. What was going on with that? Did you really think that you could make a point by this? All of the people who are trying to be moral are killed in horrible accidents. Ugh. In other words, wait until this hits the discount bin before renting it.

And back from our detour to film critic...I would say more, but I doubt anyone wants to read it.

{% endblock %}
