---
title: "Zoologischer Garten Berlin"
---

{% extends "post.html" %}

{% block post %}

<!-- >8 more -->

So today, we felt like taking a mini-trip down to the Zoological Garten in Berlin, and besides not being that pretty, it also wasn't that much fun. I mean, the entire time there, I heard more English that I did German, and the sights were also not that spectacular. And, before we left, some asian girls pointed out a couple that was having sex in the bushes. Yes, it was...weird.

Anyway, since I don't have much to say about this...enjoy the gallery![gallery]

{% endblock %}
