---
title: "Class Today"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

So, in class today, we had this awesome exchange:

Deubner: "Shevani, are you sure you're all right, you seem still sick." (Yes, still sick...I know).
Shevani: "Yeah, I'm fine."
D: "You sure?"
S: "Maybe it's just your lecture."

And Deubner went on as though he didn't hear it...

{% endblock %}
