---
title: "And another class..."
---

{% extends "post.html" %}

{% block post %}

<!--more-->

<p>Man...Deubner never ceases to amaze me with his masterful usage of the English language.
</p><blockquote>What will we be start with?</blockquote>
Well, I'm not sure, Deubner, but I think we will be start with...ouch!

And then, it gets so much better...we were talking about the Iron Curtain, and Deubner said, and I quote:
<blockquote>And the Iron Curtain stopped criminals from coming from the poor east to the rich west and running
their businesses here. It was great.</blockquote>
He claims he was being sarcastic...but I'm not quite so sure. Like I said, his English needs work, and he can't quite get sarcasm in English down...

{% endblock %}
