---
title: "EU Final"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

<p>I'm going to miss having something to laugh at every once in a while...anyway, from our last email, the subject ran:
</p><blockquote>Final Ex De-Briefing Test NYU-EU Integration</blockquote>
We don't know, either.

{% endblock %}
