---
title: "Botanischer Garten"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

So this is a rather quick post...I mean, there's not much to say about this one. I was wandering around, and I came upon another garten in the city that was really small and actually kinda boring. Anyway, this is just a gallery of what was there.

[gallery]

{% endblock %}
