---
title: "Thanksgiving"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

<p>Yeah, so we had our Thanksgiving dinner the night before Thanksgiving (that's today, right?). But aside from the food, I just wanted to tell you something that happened before we met for dinner. The best way to tell this is to give you a quote from the email we received:
</p><blockquote>Today, we were confronted with a not-too-pleasant surprise: the restaurant at which the Thanksgiving dinner was supposed to take place had to cancel the arrangement because ... their kitchen had burnt out over the weekend (there's something going on with fire this semester ...).</blockquote>
And that pretty much describes it :-D

{% endblock %}
