---
title: "Clubbing"
---

{% extends "post.html" %}

{% block post %}

<!--more-->

After 3 days of long classes and tours, I was so exhausted that I figured the only logical thing to do was go clubbing. I'm glad you're following my logic. Yep, after waking up really early to get to classes a few mornings in a row, it became necessary to go clubbing really late at night so that I wouldn't be able to wake up the next day (today...now).

The night started off pretty well -- I was bored before leaving, so I went over to Sarah's room with a bottle of wine, 3 cookies, tons of chocolate (Ritter, if you must know!), and pre-made tea, as well as our matching tea mugs that we bought that day. Yeah, I don't know why everyone thinks we're married, but I must say, I really do like our nickname now: Andarah. Sounds spacey!

I guess I should give a rundown of this whole thing: at NYU in Berlin, we have couples forming left and right, and when they do, we give them nicknames of both of their names to address them because they're pretty much joined at the hip and it's easier that way. Now, Sarah and I are not dating, for obvious reasons, and it's still pretty funny that we're now an "official" NYU in Berlin couple, thanks to the nickname. But anyway...

I brought over a bunch of stuff, and we just kinda collapsed onto the couch talking and watching the <em>strangest</em> German TV show I have ever seen. I mean, imagine this: American Idol with a controlled crowd that practiced synchronized clapping, a beauty pageant, a hidden camera show, a folk singing show, a grocery-store checkout line novel, and celtic music. It was...crazy.

So, after a bottle of wine, Sarah didn't have any, I was sitting on the couch with Google open calculating my BAC and how much more it was safe for me to drink. According to Sarah, I'm such a nerd. Guilty as charged.

But after a while, I was already pretty gone, and we decided that that would be a good time to leave. Sarah insists that I tell everyone -- that night, apparently I was the drink vacuum. She would make a drink, put it down, I would pick it up, and then it was gone. Yeah, so I was finishing everything for her, and she was practically sober. Whoops.

So when we finally got to the first place, I was already pretty gone, and it was pretty much only German that I could speak. Well, could or would...not sure. As we went in, it was a short admission fee, and then we just kinda gathered in the back. It was supposed to be retro night, but it felt more communist retro than anything: everyone was too afraid to do anything because the Stasi might show up. That about summarizes their choice of music.

At this club, pretty much all I remember is talking to everyone and not being able to stand up properly; Holly said it was finally good to see me drunk. Well, ok, everyone said that. And after about an hour, that place started getting a bit boring, and we decided that we were going to go a different club just a little ways away. Now this is where the story get embarrassing. Apparently, on the way there, I was only speaking German, and when I did speak English, I had an accent and couldn't really control it... I don't remember having an accent, let alone an Irish one, but everyone tells me I did. Oh well.

At this club, when we finally got there, they carded us again. I look like a baby, apparently. But once we got in, got our coats checked, and the like, the dancing began. I'm not sure how long I was dancing, but it was a long time. Let's see, it was a circle of Sarah (!), Liliana, London, and Greg. Yeah, we were all just kinda dancing together and going crazy. Not much to say behind that...but apparently the music was VERY loud and I was complaining about it for a while. I mean, I remember that to speak to someone, I had to yell it in their ears.

Anyway, as the night was winding down, I had taken my shirt off and was dancing in my undershirt that I had worn that day (and then Sarah tried to get me to take my undershirt off...). I'm leaving out some of the detail to spare your innocence, but yeah. I don't know how long we were there, but I do remember that we got home at 6:30 in the morning. My first time out clubbing, and I didn't get home until the sun was about ready to rise. Good times.

But yeah, clubbing was the perfect end to 3 full days of getting up early and going on trips. It was perfect.

{% endblock %}
