---
title: "Deubner"
---

{% extends "post.html" %}

{% block post %}

<!-- >8 more -->

<p>So, I have decided to start a new blog category that I loving call "Deubnerisms." Essentially, our EU Politics professor has said some hilarious stuff, and I just thought it would be great to share it with everyone.

To start off, let's go through some of the older things that he's said and just catch everyone up.

First day of class:
</p><blockquote>I detest being called "Doobner," it's "Doibner." (It's a German name, and that's how it's said.)</blockquote>
Sometime back in September, Markus asked him if he was a translator for the EU:
<blockquote>No, I am not a translator; translators serve a <em>purpose</em>! <strong>I</strong> write policy!</blockquote>
And on my midterm, I wrote "The policy process is generally free in this stage...", and he <em>corrected</em> it to:
<blockquote>"The policy process is generally free<strong>ly</strong> in this stage..."</blockquote>
And from en email, we still don't know what this means:
<blockquote>Please do not render 'collective' papers. Even if you produce a text together, I prefer to see the individual contributions.</blockquote>
And another email (yes, this was the entire email):
<blockquote>Dear students of integration,

TEST</blockquote>
Yeah...it's such an incredible class. Tehehe.

{% endblock %}
