---
title: "Muenchen, Das Oktoberfest, and etz."
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

So so so...I just got back from my first Euro Trip down to Bayern (Bavaria). Just a slight warning: there are 6 blog posts to follow this one, and they go in chronological order: at top are the ones that happened first, and at the bottom are the ones that happened last.

There are tons of pictures, lots of talking, and 1 secret post ;)

Enjoy it...

<em>For some reason, the title doesn't render properly with "ü", so I replaced it with the equivalent, "ue".</em>

{% endblock %}
