---
title: "Schon das Ende"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

And that is already the end... I'm writing now from back in Cali, and my travels through Germany have concluded.

I guess I shall end with one final thing: a picture of the snowfall in Berlin from my window before I left.

{{ macros.img("img_4840.jpg")}}

{% endblock %}
