---
title: Boating
---

{% extends "post.html" %}

{% block post %}

Lily had her first boating trip yesterday. It went swimmingly / she swam a lot. I don't feel like being clever enough to make that work.

<!-- >8 more -->

It was impressive; she didn't get sea-sick or anything. In fact, she was happy with tons of tongue everywhere.

{{ pimg("IMG_0259.jpg") }}

She was comfortable enough to look over the edge of the boat, wonder why the water was moving, and let her fur blow in the wind.

{{ pimg("IMG_0318.jpg") }}

Oh, and plane.

{{ pimg("IMG_0398.jpg") }}

{% endblock %}
