---
title: "A few thoughts before leaving..."
---

{% extends "post.html" %}

{% block post %}

<!-- >8 more -->

I've not spent pretty much my entire summer working far too hard, far too long, but hey...it's almost to an end now.  I've built a few new websites (http://farringtonfoundation.org and http://benefitadvantage.net), and I've been working for 360 while doing that...in other words, sleep has kinda escaped me.

But enough of my boringness....I was out back today with the puppy, and I had my camera with me. I was happy about that, her not so much -- she has started to hate when I pull out the camera...whoops.
{{ pimg("img_1510.jpg") }}
She was a bit excited about what she saw...aka, nothing, but she had to chase it -- what kind of dog would she be otherwise?
{{ pimg("img_1586.jpg") }}I swear that she is a Pikka Bird sometimes, for she cannot focus on one thing for too long before she loses interest, or sometimes she finds random anonymous atoms in the air more interesting than me.
{{ pimg("img_1577.jpg") }}And then she'll completely surprise me again by stopping to pose for a picture...and making it good!
{{ pimg("img_1490.jpg") }}

{% endblock %}
