---
list_page: true
title: ""
---

{% extends "base.html" %}

{% block hero %}
	<div class="container-fluid home-hero">
	</div>
{% endblock %}

{% block content %}
	<script type="application/javascript">
		var wordCloudData = {
			id: "contrib-cloud",
			data: [
				{% for p, c in ac.Data("contribs") %}
					['{{ p }}', {{ c|integer }}],
				{% endfor %}
			],
		};
	</script>

	<div class="col-md-9 home-post-list">
		<h3>Recent Posts</h3>
		<hr>
		{% for page in pages %}
			<section class="container-fluid">
				<div class="row">
					<h1 class="col-md-10">
						<a href="{{ page.URL }}">{{ page.Title }}</a>
					</h1>

					<time class="col-md-2">
						{{ page.Date.Format("2006-01-02") }}
					</time>
				</div>

				<div class="row summary">
					{{ page.Summary|safe }}
				</div>
			</section>
			<hr>
		{% endfor %}
	</div>

	<div class="col-md-3 text-center">
		<h3>Projects</h3>
		<hr>
		<div id="contrib-cloud"></div>
	</div>
{% endblock %}
