---
list_page: true
---

{% extends "base.html" %}

{% block hero %}
	<div class="container-fluid home-hero">
	</div>
{% endblock %}

{% block content %}
	<script type="application/javascript">
		var wordCloudData = {
			id: "contrib-cloud",
			data: [
				{% for p, c in data.contribs.items() %}
					['{{ p }}', {{ c }}],
				{% endfor %}
			],
		};
	</script>

	<div class="col-md-9 home-post-list">
		<h3>Recent Posts</h3>
		<hr>
		{% for page in page_list %}
			<section class="container-fluid">
				<div class="row">
					<h1 class="col-md-10">
						<a href="{{ page.abs_url }}">{{ page.metadata.title }}</a>
					</h1>

					<time datetime="{{ page.date.isoformat() }}" class="col-md-2">
						{{ page.date.strftime("%Y-%m-%d") }}
					</time>
				</div>

				<div class="row summary">
					{{ page.summary() }}
				</div>
			</section>
			<hr>
		{% endfor %}
	</div>

	<div class="col-md-3 text-center">
		<h3>Projects</h3>
		<hr>
		<div id="contrib-cloud"></div>
	</div>

{% endblock %}
