---
title: Puppy Mania
---

{% extends "post.html" %}

{% block post %}

So I finally did it. I adopted a little one! (Puppy, that is.) Her first day has been crazy, but freaking adorable. Now I'm not going to be one of those people who only posts pictures of their dog and nothing else... Yeah, that's a total lie. Oh well, here we go!

<!-- >8 more -->

On the ride home, she refused to sit still and was all over the car. At one point, she tried hitting the gas pedal. This is going to be a wild ride.

{{ pimg("2014-07-26-17.28.37.jpg") }}

But at home, she calmed donw (a bit), and decided to run around with her new bone!

{{ pimg("IMG_6428.jpg") }}
{{ pimg("IMG_6431.jpg") }}

And she wants everyone to know that she's got everything under control.

{{ pimg("IMG_6452.jpg") }}

Well, under control enough to take care of that bubble wrap.

{{ pimg("2014-07-26-20.09.34.jpg") }}

{% endblock %}
