---
title: "Aditi in Berlin"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

So Aditi came to visit me in Berlin, and this is what happened:{{ macros.pimg("img_3279.jpg") }}It was amazing...Aditi arrived in Berlin, and the communists just...appeared. Yeah, she seems to have that effect on people.

Anyway, the day was just a bunch of sight-seeing, touring, and my giving historical context to things that we were seeing around the city (followed by a quiz as we walked back past all of the places I showed them). Anyway, as we were walking around, we went to see some pretty stuff at night, and we came across this square: we saw it in my architecture class, but I don't remember what the buildings in it are for / from.{{ macros.pimg("img_3324.jpg") }}And it figures that I just had to get the picture right as the lighting of the building was white: it was changing colors randomly, and white was the worst color on it. And then, another building (to the left of this shot).{{ macros.pimg("img_3338.jpg") }}And again, white on this building. I mean, c'mon Germans, we get that you once tried to be Aryan, but this is ridiculous...

Beyond that, I have not much to say for the day -- the only people who would really care to hear about the day were there, so I feel kinda weird retelling...{{ macros.pimg("img_3316.jpg") }}Just like retelling why this picture was taken...you would have had to have been there.{{ macros.pimg("img_3347.jpg") }}Or to understand why Aditi never stopped moving...would have had to have been there.{{ macros.pimg("img_3352.jpg") }}Or why I felt it necessary to scale the side of the stones in the Holocaust Memorial...have had to have been there.

{% endblock %}
