---
title: "And in the midnight hour..."
---

{% extends "post.html" %}

{% block post %}

<!--more-->

So tonight, guess what! Things went boom outside our window! Oh yes! You heard me right...<span style="text-decoration: line-through;">two, count them, 1, 2</span> 3 (apparently, I miscounted last night, there were really 3 cars that were torched) cars were set on fire by our apartment building tonight. Well, it's 3:30am, and I just wanted to post an update...but what would an update be without photos?{{ pimg("img_2304.jpg") }}As you can see, there is a rather larger fire burning right outside the building next to ours. This was two cars, we don't know what make, that were "randomly" set on fire, according to the NYU peoples.{{ pimg("img_2301.jpg") }}And another shot of the front...that's a fireman with a hose trying to put it out.

Now, in the back of the apartments, there was another fire...let's take a look.{{ pimg("img_2311.jpg") }}I could hardly get a shot of it, but that's the fire in the back...another car.{{ pimg("img_2315.jpg") }}And these are only some of the displaced students (only temporarily, they're all back in their rooms).{{ pimg("img_2322.jpg") }}And once the fire was out, this is the fireman trying to get the hood of the car open to make sure that the engine still wasn't on fire.{{ pimg("img_2320.jpg") }}And last but not least...the police van that is now still blocking traffic to our street.

For this post...sorry about the horrible...everything, it's 3am, I was awoken because I couldn't breathe in my room (the smoke and crap was THAT thick), I still feel all the smoke and stuff, and now I'm trying to write...yeah, been a crazy night. Well, at least I got some pictures of this.

Ahhh...bed time again.

{% endblock %}
