---
title: "Hamburg"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

So we went to Hamburg yesterday... It would have been an awesome day, but we had to get up at 6:30 in order to get to the train station on time to catch our train there...ugh. Most of the day was a constant fight to stay awake, and the rest of the day consisted of playing a game on my cell phone so that I could actually stay awake.

Our day started off with a mini-tour of the city that consisted of seeing 2ish buildings and then going to a lecture. Now, the lecture would have been very interesting, I'm sure, if I could have managed to stay awake during all of it, and during the lecture is when I found the game on my cell to keep my from falling asleep. But more on that later...

To get to Hamburg, we took the ICE -- Inter-city Express. Unlike most trains in the US, this one is actually fast.{{ macros.pimg("img_2344.jpg") }}Well, not as fast as a plane, but still pretty fast. Anyway, once we got to Hamburg, as I said, we went on a mini-tour. Here is what we saw:{{ macros.pimg("img_2349.jpg") }}And then we took a really long walk to a lecture... As I said, I found a game in order to keep me awake during the lecture. Normally, I have no problem staying awake for boring things, but I could hardly pull it off today. I was so freaking tired from waking up early that I needed something to do: I found a really cool and addictive balance game on my phone. Rather than trying to stay awake by putting a painful expression on my face and focusing (Holly), I decided to hold my phone in my lap and play (it only required one hand as my phone has accelerometers), and I would nod occasionally...and hey, I stayed awake!

After the lecture, we took a nice stroll back to the center of the city, and we were let free. On the way there, though, we did see a really nice lake:{{ macros.pimg("img_2374.jpg") }}And we were constantly reminded, whenever crossing a street, that we <em>really</em> should not go.{{ macros.pimg("img_2364.jpg") }}Those crazy Germans... And, it gets even better! We were walking back to the city center, along the lake, and I saw one of the most adorable dogs in the history of dogdom and stuff. I mean, well, look!{{ macros.pimg("img_2392.jpg") }}Yes, he is carrying a stick that is about 2-3x his size, and he seems so happy and cheerful to be doing it. He was so proud of himself for carrying the stick, and everyone was stopping to take pictures...it was just adorable.

Anyway, once we were back to the city center, we were set free, and we walked around the little lakelett once again. On the way, we ran into some other NYU kids there, and we sat with them, this is what happened:{{ macros.pimg("img_2411.jpg") }}I'm not entirely sure what he was trying to do, but we came to the general conclusion that he looked like Beeker from Doug. Yeah, it was a strange day...{{ macros.pimg("img_2417.jpg") }}And it just kept getting stranger..especially when Kevin took it upon himself to get his toe bitten off by that ducky-swany-goosey thingy there. Too bad he survived...

On another note, I like cheese.

And on a completely different note, this is the same evil bird as before, but this picture just looks a bit cooler, I think.{{ macros.pimg("img_2419.jpg") }}So I'm running out of things to say, so let's just take a look at the view we had from where we were sitting along the lake. I mean, it would have been a lot better if the sun weren't destroying ours eyes / my lense, but that's how it goes.{{ macros.pimg("img_2410.jpg") }}Anyway, one final thought from Hamburg...at least, one final thought on the day that almost put me to sleep... {{ macros.pimg("img_2354.jpg") }}And that was about 1,000 words right there. The memorial is to WWI, and it reads: "40,000 of the sons of the city gave their lives for you (ya'll)". And with that, I'm out of depressing things to say...

{% endblock %}
