---
title: "Mauerfall"
---

{% extends "post.html" %}

{% block post %}

<!-- >8 more -->

So, I could give you a great history of the Fall of the Berlin Wall (Mauerfall) and all that great and wonderful stuff, but I'm just going to refer you to the best source of all information in the universe: <a href="http://en.wikipedia.org/wiki/Mauerfall" target="_blank">Wikipedia</a>.

Now that you're thoroughly informed, I feel that I can tell you about how Gorbachev was made fun of: the announcer ask Gorbi to explain what he did in terms of the Wall coming down, and Gorbi went on for...geez, 5-10 minutes, then the announcer concluded with "thank you for rushing yourself." And the night before, at the rehearsals, the announcer said "and now, we're going to listen to Gorbachev ramble on about incoherent nonsense, and then we'll cut to you!"

But anyway...there's not much to say about the night, so I'm just going to attach a gallery so that you can see for yourself what I saw: I was standing relatively close to a jumbotron, and I could see nothing that was really going on besides that...

Oh! Though it is worth noting that Gordon Brown is one of the biggest, most arrogant leaders in the world: "Britain is and always will be the heart of Europe." He got booed. Understandably.

And, of course, the video clip from Obama silenced the crowd and got the biggest applause and cheering out of any of the foreign leaders present.

{{ pimg("img_3623.jpg") }}
{{ pimg("img_3645.jpg") }}
{{ pimg("img_3673.jpg") }}
{{ pimg("img_3674.jpg") }}
{{ pimg("img_3684.jpg") }}
{{ pimg("img_3820.jpg") }}
{{ pimg("img_3853.jpg") }}
{{ pimg("img_3879.jpg") }}

{% endblock %}
