---
title: Swimming with Dogs
---

{% extends "post.html" %}

{% block post %}

So many years ago, the older puppy and I went swimming; there was a lot of clawing, a lot of annoyance, and tons of water hating (she didn't like water that much), but I still got one of my favorite pictures of her and me that day. It might have been the only picture of us from that day in which she looks happy. I've been using it as my profile picture everywhere for years. I decided it's time to try swimming with the puppy again (well, I've done it tons of times now), but with a camera, to see if I could get another awesome picture.

<!--more-->

So here's the original picture, with it's orange timestamp and all.

{{ pimg("gracie.jpg") }}

Let's see what we go this time.

Uhhh, nope, she just looks scared here.

{{ pimg("2015-04-15-18.10.25.jpg") }}

And 3 seconds later... Yep, so graceful.

{{ pimg("2015-04-15-18.10.28.jpg") }}

But finally, we managed to get a good one!

{{ pimg("2015-04-15-18.10.33.jpg") }}

{% endblock %}
