---
title: "There is something very wrong with me..."
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

Yet another rodent...with glasses...{{ macros.img("jnx8s.jpg") }}

{% endblock %}
