.home-hero {
	background: url("/assets/img/swimming.s1600x600c.jpg");
	background-position: center;
	background-size: cover;
	height: 500px;
}

#contrib-cloud {
	height: 300px;
	position: relative;
}

#recent {
	float: left;
}
