.home-hero {
	background: url("/assets/img/swimming.1600x600c.jpg");
	background-position: center;
	background-size: cover;
	height: 500px;
	margin-bottom: -15px;
}

.home-post-list {
	h1 {
		margin-top: 0;
	}

	.summary {
		padding: 0 30px;
	}
}

#contrib-cloud {
	height: 300px;
	margin: 0 auto;
	position: relative;
	width: 300px;
}

#recent {
	float: left;
}
