@import "lib/bootstrap-sass-3.3.5/variables";
$header_size: 70px;

body {
	background: white;
}

a,
a:hover {
	text-decoration: none;
}

header {
	a {
		color: black;
	}

	nav {
		@media (max-width: $screen-xs-max) {
			height: 140px;
			line-height: 60px;

			li {
				line-height: 60px;
			}
		}

		@media (max-width: 640px) {
			ul {
				margin-top: -10px;
			}

			li {
				line-height: 40px;
			}
		}

		@media (min-width: 641px) {
			height: $header_size;
			line-height: $header_size;

			.logo {
				float: left;
			}

			ul {
				float: right;
			}

			li {
				line-height: $header_size;
			}
		}

		@media (min-width: $screen-sm-min) {
			height: $header_size;
			line-height: $header_size;
		}

		border-bottom: 1px solid #f0f0f0;
		background: #fcfcfc;
	}

	.name {
		font-size: 2em;
	}

	ul.nav {
		float: right;

		li a {
			display: inline;
		}
	}
}

.container.content {
	margin-top: 15px;
}

.post {
	time {
		color: #0a0a0a;
		line-height: 39px;
		text-align: right;
	}

	&:first-child {
		h1, time {
			margin-top: 0;
		}
	}

	h1, time {
		margin-top: 15px;
	}
}

p.img {
	text-align: center;
}

.prev-next {
	margin-top: 30px;

	.next {
		text-align: right;
	}

	div {
		padding: 15px;
	}
}

footer {
	font-size: .7em;
	text-align: center;

	ul {
		display: inline;
		-webkit-padding-start: 0;

		li {
			display: inline-block;
			margin: 0 2px;
		}
	}
}
