---
title: "Botanischer Garten"
---

{% extends "post.html" %}

{% block post %}

<!-- >8 more -->

So this is a rather quick post...I mean, there's not much to say about this one. I was wandering around, and I came upon another garten in the city that was really small and actually kinda boring. Anyway, this is just a gallery of what was there.

{{ pimg("img_3241.jpg") }}
{{ pimg("img_3262.jpg") }}
{{ pimg("img_3264.jpg") }}
{{ pimg("img_3265.jpg") }}
{{ pimg("img_3273.jpg") }}
{{ pimg("img_3274.jpg") }}

{% endblock %}
