---
title: "After the Garten"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

So after my extended stay in the Englischen Garten, I took a long stroll down through no where. I just walked on for a while to see what was around, and then I kept on going. First, right out of the garden, I came upon a type of squarey thingy that had a couple really large, old buildings in it. I'm just going to put what I saw:{{ macros.pimg("img_3139.jpg") }}I mean, look at that. It was...awesome. I don't quite remember what he was supposed to be guarding, but that there was a lion just standing there in the middle of Munich was awesome. I mean, he just looks so noble...

Anyway, aside for that there lion, there was a nice little park (the Munichers really like their parks and gardens) that I wandered to and sat down in. Most of the people here were, interestingly enough, asleep.{{ macros.pimg("img_3142.jpg") }}Those two didn't move the entire time that I was in the park. They just stayed there. Dead. But anyway, the rest of the park was really pretty, and people were giving me strange looks for having a really large camera with me, but it was completely worth it: got some really awesome pictures.

Once I left the park, I continued wandering towards the center of the city, and when I got there, I found something that was really surprising, especially for Berlin on a Sunday: a crazy religious guy yelling at the top of his lungs about all the problems that Germany was having without religion and whatever they yell about...like not having gotten laid in the past 40 years. Yeah, that. But he was just furious, and he had all sorts of signs with him, and yeah.

The interesting part about this is that it was election day in Germany. He was a member of a tiny religious political party. He was in Bayern (the religious part of Germany, he is to Berlin as Gemenon is to Caprica :-D), and people did not really like his religious sprouting.{{ macros.pimg("img_3147.jpg") }}I was thoroughly entertained. Though, I think what made this so much better was that there was a street performer not even 50 feet from him, and the street performer had a MUCH LARGER crowd than he had. Here, look:{{ macros.pimg("img_3149.jpg") }}That's just a small segment of the street performer's crowd.{{ macros.pimg("img_3153.jpg") }}And that was his crowd...she the 1 guy even caring to look? Yeah... But it gets even better! Let's see what some of his signs have to say...{{ macros.pimg("img_3148.jpg") }}I don't think I even need to translate that...it's pretty straight foward, and you get the idea of what kinda of looney-bind we're talking about here.

So moving on, once people started ignoring him (ie. always), he quieted down. Well, after a little while, at least. But if you look here, I think I found something truly amazing in the architecture of the building he was standing in front of. I mean, this is just incredible.{{ macros.pimg("img_3196.jpg") }}That, my friends, behind the pillar, is PedoBear (google him if you don't know him). Let me put this in perspective for you: he is behind a doric column at the TOP of a huge, middle-ages building. That's just kinda weird if you ask me.

I'm just going to let that one sink in.

Letting is sink.

Still sinking.

There, see what I mean? Yeah, weird, eh?

So now that that has sunk in, I'm almost back to my Hostel, so I'm just going to show you one last thing that I found really cool: a street performer. He wasn't your average street performer: he was clearly not a native German, he was sad, but at the same time, very Irish and happy. It was interesting, and his dog was even more adorable. I do have a picture of the dog, but I think a picture of him best suits this spot.{{ macros.pimg("img_3224.jpg") }}Like I said: awesome.

{% endblock %}
