---
title: "Mein Zimmer (My Room)"
---

{% extends "post.html" %}

{% block post %}

<!-- >8 more -->

And, for those who were curious, here is where I live:{{ pimg("img_2256.jpg") }}As you enter, this is what you see. The door on the left (the brown one) is our front door.{{ pimg("img_2253.jpg") }}This is our living room -- in reference to the picture above, I was standing in the doorway to it when I took it.{{ pimg("img_2254.jpg") }}This is our kitchen -- it doesn't really have much yet... And the fridge is even more empty.{{ pimg("img_2255.jpg") }}And this is our bathroom...gotta love the green shower curtain!{{ pimg("img_2257.jpg") }}And finally, the most important room in the apartment...my room :-D

{% endblock %}
