---
title: "Berliner Schaubühne"
---

{% extends "post.html" %}

{% block post %}

<!--more-->

So, for one of our architecture classes, we had to go down (to the river, took a little walk, I met up with some turkeys, and we had a little talk; I washed that turkey, hung him on the line, and said we can take those turkeys, oh any old time!...oh RYLA!) to the outskirtsish of Berlin and photograph a theatre by night. These are the pictures I took:{{ pimg("img_3537.hdr.jpg") }}This is the left of the theatre...{{ pimg("img_3543.hdr.jpg") }}The right...{{ pimg("img_3547.hdr.jpg") }}The front...

And then we took a walk across the street, and I got pictures of some cars...{{ pimg("img_3549.jpg") }}...and a crazy statue...{{ pimg("img_3551.jpg") }}

{% endblock %}
