---
title: "Weimar"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

<p>So we had another day trip to the city of Weimar. It was beautiful. It was freaking cold. I am still kinda cold from it. Joy. Now, let me put this trip into perspective for you: a lot of us, the day before, went to the Brick Kiln and then had class and were still amazingly exhausted from all of that. Then we had to get up and be ready to leave by 7:10 in the morning, otherwise we would miss our train. Then we had a really long train ride down there, and a fast tour of the area (really fast, we walked by it; later in the day, we got more information (read: we were told 1 fact), and that was that). The entire day consisted of going to Goethe's House in Weimar, which was beautiful.

When we got to Goethe's house, we were given a walking tour of the house (I walked around it at least 4 times in total), and then Stefan, who studied Goethe extensively, gave us his own tour of the house in which we described how the house functioned with Goethe's theory of color. It was awesome. For this part of the tour, I wasn't allowed to bring my camera along, so I have nothing really cool to share, but I do have pictures of the next part! Well, I guess I can show you the color wheel:{{ macros.img("GoetheFarbkreis.jpg") }}I would talk about it...but I don't feel like it.

Anyway, after our quick walk through downtown, which consisted of looking at 1 building, we continued our tour down to Buchenwald.{{ macros.img("img_3495.jpg") }}Now, this was only a concentration camp, not actually an extermination camp, so it's not as bad as it sounds...but it was still pretty bad. Now, I feel even worse about saying this part: it was so cold out there that I could not focus on what the tour guide was saying and remember almost nothing of what happened, so I don't have much to write about, but I do have pictures of stupid Americans to show...but that comes later!

First, let's take a look at parts of Buchenwald. I mean, at least the parts that I got pictures of...and don't judge me for what I write here...it's kinda insensitive, but I was exhausted and didn't want to do anything: the definition of college life.{{ macros.img("img_3510.jpg") }}This was our tour guide. This is a picture of her outside, in the cold. This is me not caring.............................

And still cold.................

And tired................

I'm a horrible person.

[caption id="attachment_378" align="aligncenter" width="400" caption=""To each his own""]{{ macros.img("img_3524.jpg") }}[/caption]
</p><p style="text-align: left;">And this was the entrance to the camp -- the sign is backwards because it was meant to face the prisoners. It reads, "To each his own," meaning that it was the prisoner's own faults that they were there. It's sick.</p>
<p style="text-align: left;">Anyway, once we got inside, we stood in the cold for a little while more until nothing more existed but cold. Allow me to demonstrate what I got from the tour:{{ macros.img("img_3528.jpg") }}That was the view from the top of the hill at Buchenwald. I'm not sure what else to say. Like I said, I'm a horrible person and far too tired to care.</p>
<p style="text-align: left;">Anyway, as the day was coming to an end, we all were gathered in the train station waiting for our late train, and a few interesting things happened. First, I got carded while buying alcohol. That's right: carded, in Germany, while buying alcohol. She thought I was 14. And she couldn't read my Cali ID card. Wow.</p>
<p style="text-align: left;">Second, the Americans were making a fool of themselves playing games in the train station. I include three pictures here for posterity's sake.{{ macros.img("img_3533.jpg") }}Being really loud...{{ macros.img("img_3535.jpg") }}Becca dancing...{{ macros.img("img_3536.jpg") }}And more general debauchery...</p>

{% endblock %}
