---
title: "The German Election"
---

{% extends "post.html" %}

{% block post %}

<!--more-->

So we were at a bar tonight, and we were hit by a street campaigner for the election...this is what we got:{{ pimg("img_2278.jpg") }}Needless to say, this would never happen in the states... Well, a few other pictures of the same evidence:

[caption id="attachment_153" align="aligncenter" width="400" caption="Injustice is wrong"]{{ pimg("img_2280.jpg") }}[/caption]

[caption id="attachment_152" align="aligncenter" width="400" caption="The pope has no right to be in my bed! (The English slogan)"]{{ pimg("img_2279.jpg") }}[/caption]

[caption id="attachment_154" align="aligncenter" width="400" caption="My belly belongs to me!"]{{ pimg("img_2281.jpg") }}[/caption]

[caption id="attachment_155" align="aligncenter" width="400" caption="The whole package..."]{{ pimg("img_2282.jpg") }}[/caption]

[caption id="attachment_156" align="aligncenter" width="400" caption="The instructions for the condom..."]{{ pimg("img_2285.jpg") }}[/caption]

{% endblock %}
