---
title: "svnstash: git-like stashing in svn"
---

{% extends "post.html" %}

{% block post %}

One week at work, I was trying to figure out how to stash my working copy in SVN only to discover that I could not. Everywhere I looked, I saw nothing but huge "svn stash" projects with incredibly complex syntaxes and impossible to remember commands. I missed git.

<!-- >8 more -->

## Why was it so hard?

During that long week, I hacked together a simple solution that you can drop into your local bin and use, just like `git stash`. Everything exists in one python file, without any external dependencies (besides SVN, obviously). Have fun.

## I want this

Yeah, so did I.  Here you go: [svnstash on GitHub](https://github.com/thatguystone/svnstash)

## How do I use this?

Quite well...erm, I mean, [read the documentation](https://github.com/thatguystone/svnstash#svnstash).

{% endblock %}
