{% set vl = 1200 %}
{% set vm = 992 %}
{% set vs = 768 %}
{% set vxs = 767 %}

{% macro post_header(page, link=True) %}

	<div class="row">
		<time datetime="{{ page.date.isoformat() }}" class="col-md-2 h6">
			{{ page.date.strftime("%Y-%m-%d") }}
		</time>
		<h1 class="col-md-10">
			{% if link %}<a href="{{ page.abs_url }}">{% endif %}
				{{ page.metadata.title }}
			{% if link %}</a>{% endif %}
		</h1>
	</div>

{% endmacro %}

{% macro img(src, dims, crop=False, quality=80, ext="") %}

{% set img = get_img(src) %}

<picture>
	{% for minw, dim in dims.items() %}
		<source
			media="({% if loop.last %}max{% else %}min{% endif %}-width: {{ minw }}px)"
			srcset="{% for i in range(3) -%}
				{%- set src = img.scale(
					width=dim * (i + 1),
					height=dim * (i + 1),
					crop=crop,
					quality=quality) -%}
				{{ src }} {{ i + 1}}x{%- if not loop.last %}, {% endif -%}
			{%- endfor %}" />
	{% endfor %}

	{%- set src = img.scale(
		width=dims[vl],
		height=dims[vl],
		crop=crop,
		quality=quality) -%}
	<img src="{{ src }}"
		title="{{ img.title() }}"
		alt="{{ img.title() }}" />
</picture>

{% endmacro %}

{% macro pimg(src, crop=False, ext="") %}

<p class="img">
	{{ img(src,
		dims = {
			vl: 560,
			vm: 480,
			vs: 320,
			vxs: 240,
		}) }}
</p>

{% endmacro %}

{% macro highlight(lang) %}

	<pre><code class="{{ lang }}">{{ caller() }}</code></pre>

{% endmacro %}
