{% macro post_header(page, link=true) export %}

	<div class="row">
		<h1 class="col-sm-push-2 col-sm-10 col-md-10">
			{% if link %}<a href="{{ page.URL }}">{% endif %}
				{{ page.Title }}
			{% if link %}</a>{% endif %}
		</h1>
		<time class="col-sm-pull-10 col-sm-2 col-md-2 col-lg-2 h6">
			{{ page.Date.Format("2006-01-02") }}
		</time>
	</div>

{% endmacro %}

{% macro post_body(page) export %}

	<div class="row content">
		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
			{{ page.Content|safe }}
		</div>
	</div>

{% endmacro %}

{% macro pic_src(img, dim, crop, quality, vw) export %}

<source
	media="({% if vw == VW_XS %}max{% else %}min{% endif %}-width: {{ vw }}px)"
	srcset="{{ img.Scale(dim.W, dim.H, crop, quality) }} 1x, {{ img.Scale(dim.W * 2, dim.H * 2, crop, quality) }} 2x, {{ img.Scale(dim.W * 3, dim.H * 3, crop, quality) }} 3x" />

{% endmacro %}

{% macro img(src, dims, crop=false, quality=80) export %}

{% set img = ac.Img(src) %}
<picture>
	{{ pic_src(img, dims.L, crop, quality, 1200) }}
	{{ pic_src(img, dims.M, crop, quality, 992) }}
	{{ pic_src(img, dims.S, crop, quality, 768) }}
	{{ pic_src(img, dims.XS, crop, quality, 767) }}

	<img src="{{ img.Scale(dims.L.W, dims.L.H, crop, quality) }}"
		title="{{ img.Title }}"
		alt="{{ img.Title }}" />
</picture>

{% endmacro %}

{% macro pimg(src) export %}

<p class="img">
	{{ img(src, ac.Dims(560, 0, 560, 0, 420, 0, 280, 0)) }}
</p>

{% endmacro %}

