{% macro post_header(page, link=True) %}

	<div class="row">
		<time datetime="{{ page.date.isoformat() }}" class="col-md-2 h6">
			{{ page.date.strftime("%Y-%m-%d") }}
		</time>
		<h1 class="col-md-10">
			{% if link %}<a href="{{ page.abs_url }}">{% endif %}
				{{ page.metadata.title }}
			{% if link %}</a>{% endif %}
		</h1>
	</div>

{% endmacro %}

{% macro img(src, width=0, height=0, crop=False, ext="") %}

{% set i = get_img(src) %}
{% set src, width, height = i.scale(
	width=width,
	height=height,
	crop=crop,
	ext=ext) %}
<img src="{{ src }}"
	alt="{{ i.title() }}"
	title="{{ i.title() }}"
	width="{{ width }}"
	height="{{ height }}" />

{% endmacro %}

{% macro pimg(src, crop=False, ext="") %}

<p class="img">
	{{ img(src, width=560) }}
</p>

{% endmacro %}

{% macro highlight(lang) %}

	<pre><code class="{{ lang }}">{{ caller() }}</code></pre>

{% endmacro %}
