{% import "_macros.j2" as macro with context %}

<head>
{% block head %}
	{% assets "css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
	{% endassets %}
{% endblock %}
</head>

<body>
{% block body %}
{% endblock %}
</body>

{% assets "js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
