<!DOCTYPE html>
<head>
	<title>{% if page.Title %}{{ page.Title }} :: {% endif %}Andrew Stone</title>
	{{ ac.CSSTags() }}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" sizes="192x192" href="{{ ac.Img("content/favicon.png").Scale(0, 0, false, 0) }}">
	{% block head %}{% endblock %}
</head>

{% import "_macros.html" img %}
{% import "_macros.html" pic_src %}
{% import "_macros.html" pimg %}
{% import "_macros.html" post_body_close %}
{% import "_macros.html" post_body_open %}
{% import "_macros.html" post_header %}

<body>
	<header>
		<nav>
			<div class="container">
				<div class="logo col-sm-4 col-md-3 col-md-offset-1 col-lg-offset-2">
					<a href="/" class="name">Andrew Stone</a>
				</div>
				<div class="col-sm-8 col-md-7 col-lg-5">
					<ul class="nav nav-pills navbar-collapse">
						{% for item in ac.Cfg().Nav %}
							<li{% if page.Cat == item.URL %} class="active"{% endif %}>
								<a href="/{{ item.URL }}/">
									{{ item.Title }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</nav>

		{% block hero %}{% endblock %}
	</header>

	<div class="container content">
		{% block content_cut %}
			<!-- >8 stas-content -->
				{% block content %}{% endblock %}
			<!-- stas-content 8< -->
		{% endblock %}
	</div>

	<footer>
		<ul>
			<li>© {% now "2006" %} Andrew Stone</li>
			<li>|</li>
			<li><a href="https://github.com/thatguystone">GitHub</a></li>
			<li>|</li>
			<li><a href="https://github.com/thatguystone/stoney.io">Site Source</a></li>
			<li>|</li>
			<li><a href="mailto:a@stoney.io">a@stoney.io</a></li>
		</ul>
	</footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
{{ ac.JSTags() }}
