<!DOCTYPE html>
{% import "_macros.j2" as macros with context %}
<head>
	<title>{{ page.title() }} :: Andrew Stone</title>
	{% assets "css" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
	{% endassets %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block head %}{% endblock %}
</head>

<body>
	<header>
		<nav class="container-fluid">
			<div class="col-xs-3 col-sm-4 col-md-3 col-md-offset-2 col-lg-offset-3">
				<a href="/" class="name">
					<span class="hidden-xs">Andrew Stone</span>
					<span class="visible-xs">AStone</span>
				</a>
			</div>
			<div class="col-xs-9 col-sm-8 col-md-5 col-lg-3">
				<ul class="nav nav-pills">
					{% for item in conf.NAV %}
						<li{% if page.category == item[1] %} class="active"{% endif %}>
							<a href="/{{ item[1] }}/">
								{{ item[0] }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</nav>

		{% block hero %}{% endblock %}
	</header>

	<div class="container content">
		{% block content_cut %}
			<!-- >8 stas-content -->
				{% block content %}{% endblock %}
			<!-- stas-content 8< -->
		{% endblock %}
	</div>

	<footer>
		<ul>
			<li>© {{ now("%Y") }} Andrew Stone</li>
			<li>|</li>
			<li><a href="https://github.com/thatguystone">GitHub</a></li>
			<li>|</li>
			<li><a href="https://github.com/thatguystone/stoney.io">Site Source</a></li>
			<li>|</li>
			<li><a href="mailto:a@stoney.io">a@stoney.io</a></li>
		</ul>
	</footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
{% assets "js" %}
	<script src="{{ ASSET_URL }}"></script>
{% endassets %}
