{% extends "base.html" %}

{% block content %}

{% for page in pages %}
	<article class="container post">
		{{ post_header(page, true) }}

		{{ post_body_open() }}
			{{ page.Content|safe }}
		{{ post_body_close() }}
	</article>
{% endfor %}

<ul class="prev-next nav nav-pills">
	<li class="pull-left">
		{% if pageNum != 1 %}
			{% if pageNum == 2 %}
				<a href="../..">Newer Posts</a>
			{% else %}
				<a href="../{{ pageNum - 1 }}/">Newer Posts</a>
			{% endif %}

		{% endif %}
	</li>

	<li class="pull-right next">
		{% if listHasNext %}
			{% if pageNum == 1 %}
				<a href="page/{{ pageNum + 1 }}/">Older Posts</a>
			{% else %}
				<a href="../{{ pageNum + 1 }}/">Older Posts</a>
			{% endif %}
		{% endif %}
	</li>
</ul>

{% endblock %}
