{% extends "base.html" %}

{% block content %}

{% for page in page_list %}
	<article class="container post">
		{{ macros.post_header(page, True) }}
		{# call macros.post_body() #}
		{{ page.content|safe }}
	</article>
{% endfor %}

<ul class="prev-next nav nav-pills">
	<li class="pull-left">
		{% if page_num != 0 %}
			{% if page_num == 1 %}
				<a href="../..">Newer Posts</a>
			{% else %}
				<a href="../{{ page_num - 1 }}/">Newer Posts</a>
			{% endif %}

		{% endif %}
	</li>

	<li class="pull-right next">
		{% if list_has_next %}
			{% if page_num == 0 %}
				<a href="page/{{ page_num + 1 }}/">Older Posts</a>
			{% else %}
				<a href="../{{ page_num + 1 }}/">Older Posts</a>
			{% endif %}
		{% endif %}
	</li>
</ul>

{% endblock %}
