{% extends "base.j2" %}

{% block content %}

<div class="post-list list-page row">
	{% for page in page_list %}
		<article class="container-fluid">
			<div class="row">
				<time datetime="{{ page.date.isoformat() }}" class="col-md-2 h6">
					{{ page.date.strftime("%Y-%m-%d") }}
				</time>
				<h1 class="col-md-10">
					<a href="{{ page.abs_url }}">{{ page.metadata.title }}</a>
				</h1>
			</div>

			<div class="row content col-md-offset-2 col-md-8">
				{{ page.content }}
			</div>
		</article>
	{% endfor %}
</div>

<ul class="prev-next nav nav-pills">
	<li class="pull-left">
		{% if page_num != 0 %}
			{% if page_num == 1 %}
				<a href="../..">Newer Posts</a>
			{% else %}
				<a href="../{{ page_num - 1 }}/">Newer Posts</a>
			{% endif %}

		{% endif %}
	</li>

	<li class="pull-right next">
		{% if list_has_next %}
			{% if page_num == 0 %}
				<a href="page/{{ page_num + 1 }}/">Older Posts</a>
			{% else %}
				<a href="../{{ page_num + 1 }}/">Older Posts</a>
			{% endif %}
		{% endif %}
	</li>
</ul>

{% endblock %}
