---
title: "High-Quality Architecture"
---

{% extends "post.html" %}

{% block post %}

<!--more-->

So on my way to class today, I saw something I found amazingly hilarious:{{ pimg("out.jpg") }}You see, as the building was getting older, parts of it started falling apart (look at the bottom of the column, it's missing both sides), and someone thought it would be entertaining to fill some of holes with Legos. This is actually a Humboldt building (the university I'm studying at), so the building easily dates to turn-of-the-century, possibly a lot earlier. Normally they try to repair the buildings as they get older, but this is just priceless.

{% endblock %}
