---
title: "Potsdam"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

Again, NYU, in their infinite wisdom, took us on a FREAKING LONG trip to Potsdam. I mean, it was gorgeous, but at the same time, I was exhausted...again. I mean, the day before classes start, why do we take a trip that lasts all day and wears us out even more? Are they trying to make sure that we'll sleep during the night? That's not a problem in the slightest. Seriously, just leave us alone...please. But anyway, I shall stop complaining...for now...not really.

Ugh, so much for any remnant of a break I thought I would have before classes start -- I was dragged around the city, much against my will, lost more sleep, and am now more tired than when I left the states... And I have class now. I give up. I miss my puppy :({{ macros.img("img_1551.jpg") }}But anyway, we took a day trip to Potsdam -- for those who don't know, Potsdam is on the outskirts of Berlin and is where quite a bit of stuff that matters happened. Glad that I could clear that up for you.

{{ macros.img("img_2027.jpg") }}As you can see, Potsdam is very yellow. Yes, very yellow. Actually, you know what? I'm too tired even to begin to think right now, so I'm just going to post a gallery and you can look around and such, I'm going to go collapse...I mean, you would really only miss a bunch of sarcasm if I continued writing right now, so pretend I was sarcastic, go have a nice laugh, and look at the pretty pictures.

[gallery]

{% endblock %}
