<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="{{ site.author }}" />
	{% include_css %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	{% include_js %}
</head>

<body>
<div class="wrapper">
	<div id="header">
	</div>
	<div id="content">
		<div class="header">
			<ul>
				{% for p in site.nav_pages %}
					<li><a href="/{{ p.url }}.html">{{ p.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="body">
			{{ content }}
		</div>
	</div>
	<div id="footer">
		Copyright © {{ 'now'|date:'%Y' }} Andrew Stone
	</div>
</div>
</body>
</html>
