---
title: "I like..."
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

...rodents with things on their heads...it amuses me for some reason.{{ macros.pimg("kdfeq.jpg") }}

{% endblock %}
