---
title: Verbinator Bookmarklet
summary: How to use that mysterious Verbinator bookmarklet.
---

{% extends "base.j2" %}

{% block content %}
{% filter markdown %}

## Bookmarklet? Books, you say?!

No, it has nothing to do with books. A bookmarklet is a little script that allows you to use
Verbinator on any other site!

## How do I use it?

To install the bookmarklet, here's what you do:

1. Make sure that you have your bookmarks bar enabled.
1. Click and drag the button at the bottom of the page to you bookmarks bar.
1. And it's installed!

If that didn't help, Google made a short video about how to install their Notebook bookmarklet. The
same concept applies for the Verbinator Bookmarklet (except our bookmarklet is at the bottom of the
page). [Check it out.](http://www.youtube.com/watch?v=QrwevUN0KdQ)

## Ok, it's installed, how do I use it?

Now that it's installed, let's take a look at how to use it.

Say you're on some German site, reading through stuff, and you need some help. For this example,
we're going to use the Thomas Mann text, [Der Tod in Venedig](http://www.gutenberg.org/ebooks/12108).
As your're going through the walls of text, you read something that you just need a bit of help on.
Here's what you do:

1. Activate the Verbinator bookmarklet you just installed (just click it!)
1. Select the little segment of text that you want help on.
1. Understand it.

In more concrete terms, here's what happens:

{{ macros.img("verbinator.was.jpg", alt="What?!") }}

Maybe verbinator can help me! Let me highlight the text I need help on...and...!

{{ macros.img("verbinator.answer.jpg", alt="Oh, that makes more sense") }}

Awesome, well that makes more sense!

## Ok, you've convinced me, where can I get it?

It's on the front page of [Verbinator](http://verbinator.clovar.com).

{% endfilter %}
{% endblock %}
