---
title: "King and Queen at Stirling!"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

Oh yeah, I was in two places at once! The editing is kinda shoddy because the person who took the picture did it from different angles, zooms, focal points, shutter speeds, f-stops, and isos...ugh.{{ macros.img("img_4225.jpg") }}

More to follow: Scotland, Day 3.

{% endblock %}
