---
title: "Cindy in Berlin"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

So Cindy came to visit me in Berlin, and aside from doing all the normal stuff (running around, seeing the sights, sleeping too much, etc), we also went to Mauerfall (but more on that later).

Anyway, right before she left, she left a note on my door:{{ macros.img("img_3889.jpg") }}Normally, I wouldn't post stuff like this, but I found it incredibly hilarious, especially since the Putzfrau (the maid who changes our sheets bi-weekly) came in and saw that on my door before I did. Essentially, I find this so funny because, though her name is Cindy, it looks like she signed it "andy", so the Putzfrau thought that I slept with some random guy who "had an awesome time" and left before I woke up. Good times. Good times.

Thank you, Cindy.

{% endblock %}
