---
title: "Scotland! (Day 1)"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

So, I went to Scotland this weekend. That's right, you heard me: I returned to the land of the Scots this past weekend. Now, I'm not entirely sure where to start this story, so I'm going to do the only logical thing and start it from the end: man, that was an awesome trip and I'm exhausted. Hope you enjoyed it all!

...

Kidding, let's start from the beginning. It all began with a small little bang -- well, really a sort of big bang that led to the universe still expanding as it did today. Jump forward a few billion years, and you have me sitting on a Ryan Air plane, crammed in like a sardine, waiting for takeoff. I wish I remembered the flight, but I was too busy sleeping. I guess that made the flight better. But when we finally landed, we started off towards our <em>hotel</em> -- screw those hostels, we had a <em>hotel.</em>

Our first encounter with the Scots was, to say the least, amazing. You know, in New York, if you talk to someone on the street, you're likely to get a goodbye in the form of "Have a nice day, asshole," but here, everyone was happy to help us, they were friendly, charming, and lovely. When we asked for directions, they would stop their entire day, look around with us, ask us how we were, and then get going. It was great.

At the hotel, they were even friendlier. The receptionist spent a good 20 minutes going through the sites with us, looking up where the banks were, finding bus schedules, and etc. I mean, that man was so happy to help us and so kinda all the while that I just wanted to hug him and take him home with me. In his words, he was "brilliant, excellent, and awesome."

Once we got everything checked in, we went and walked around and did some seeing -- I guess I should tell you where we were: Edinburgh. It was such a beautiful city.{{ macros.img("img_3964.jpg") }}Yeah, that's right...there is a freaking CASTLE in the middle of Edinburgh. A whole castle. Right there. In the middle.{{ macros.img("img_3988.jpg") }}I mean, it just goes on and on. The above picture was taken as I was making my way up to the Royal Mile (I think it was called). On my way up there, too, I found this road:{{ macros.img("img_3997.jpg") }}Oh yeah, apparently, this is actually kinda common in Scotland. Our tour guide was telling us about his Herpes, gonorrhea, and the like...it was kinda disturbing and WAY too much information. But yeah, this is the name of an actual street on the way up to the center of the city.

Anyway, let's get away from STDs...our first day in Edinburgh was pretty uneventful as we were pretty exhausted from getting there, but we still had it in us to walk around. Our first meal in the country consisted of, you guessed, it, Haggis. At least my first meal, and almost every other meal, did. Now, in case you don't know, Haggis is pretty much everything that is left over from the animals once they are done, stuffed in a stomach, and cooked. In the modern day, there are more controls on this, and it's not that disgusting anymore, but that's the basic premise.{{ macros.img("img_4010.jpg") }}Oh yeah, that's my hash, mash, and haggis. And, if you look closely, in the corner, you can see my Caledonian/80 ale. It was a perfect way to start the day.

Anyway, after lunch, we just did more walking until we came around to tour time. I wish I could say the tour was informative, but it was just meant to be scary, and there was so much information in the tour that we could not process all of it. Ugh.

Anyway, the tour started late at night and went into the underground areas of Edinburgh (which was pretty cool). Here, we can see our tour guide making an example of one of the members; she later tried to hang him, but fail as she only had twine. Oh well. Serves him right for standing at the front of the tour as she was talking about hanging people.{{ macros.img("img_4109.jpg") }}I wish I could have gotten a picture of her, but she was always moving far too fast for me to get anything. The lighting was too low, and I couldn't get a fast enough shot without flash and a horrible picture...oh well. Her name was Faith, btw, just though I'd throw that in.

But I got way ahead of myself there... Let's just jump back to some of the interesting things that the Scots do that we do not. You know when a road is closed and we have to take a detour or an alternate route? Not in Scotland!{{ macros.img("img_4089.jpg") }}They just throw up a diversion and hope you don't notice that the road is closed. Smart.

And if that isn't enough, they'll get you drunk to do it!{{ macros.img("img_3999.jpg") }}That's such a cheap bottle of Glengoyne if I do say so myself (£3750).

And, finally, some random pretty building because I'm out of stuff to talk about for the first day... I mean, it was awesome but at the same time rather uneventful.{{ macros.img("img_4003.jpg") }}

{% endblock %}
