---
title: "I've been exposed!"
---

{% extends "post.j2" %}

{% block post %}

<!-- >8 more -->

<p>What humiliation...all of my trade secrets, everything I've ever done...just exposed, like that...ouch.

Thank you xkcd.
</p><p style="text-align: center;">{{ macros.img("tech_support_cheat_sheet.png") }}</p>

{% endblock %}
